<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container">
        <a class="navbar-brand" href="/app/">DataTable</a>
        
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/app/" class="nav-link">Inicio</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'programmer_create' %}" class="nav-link">Añadir programador</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'programmer' %}" class="nav-link">Consultar programadores</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
